* {
    margin: 0;
    padding: 0;
}
body {   background-color: black;
}

img {border-radius:100%;
width: 320px;
height: 320px;
}
h1 { color: limegreen;
margin-top: 31px;
margin-bottom: 8px;
}

h2 { color: limegreen;
    margin-top: 31px;
    margin-bottom: 8px;}

p {color: yellowgreen;
}

ul {margin-top: 35px;
}
li {
    margin-bottom: 18px;
    list-style: none;
}
a {background-color: silver;
color: black;
padding: 15px;
text-decoration: none;
display: block;
border-radius: 6px;
}

a:hover {background-color: lightskyblue;
    color: black;    }

footer {color: silver;

}
.container {
    background-color: black;
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}

